* {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --white: rgb(247, 246, 246);
    --gray: rgb(201, 201, 201);
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
}

header {
    padding: 10px 30px;
    background-color: var(--white);
    grid-row: 0 / 1;
}

main {
    background-color: var(--gray);
    display: grid;
    grid-template-rows: 2, 1fr;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-flow: row;
    padding: 30px 50px;
    gap: 50px;
    grid-row: 1 6;
}

.card {
    background-color: var(--white);
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}